$regular: 400;
$bold: 700;

$black: #000000;
$white: #ffffff;
$gray: #B4B4B4;
$darkengray: #8A8A8A;

$container-xl: 1140px;
$container-l: 960px;
$container-m: 720px;
$container-s: 540px;
$container-xs: 100%;